body{
	background: url(background1.jpg);
	font-family:arial;
	margin: 0 auto;
	max-width: 980px;
	margin-top: 20px;
	margin-bottom: 20px;
}
header{	
	display: block;
	text-align: center;
	/*height: 100px;*/
}
h2{
	font-size: 55px;
	margin: 0;
	text-align: center;
	font-family: myFirstFont;
	vertical-align: baseline;
}
.clear {
	clear: both;
}
@font-face{
	font-family: myFirstFont;
    src: url(Lobster_1.0_.otf);
    font-weight: bold;
}
.nameheading{
	float: left;
	margin-left: 30px;
}
.nameheading h5{
	margin-top: 0px;
}
header nav{
	display: block;
	height: 100px;
	margin-left: 440px;
}
header nav ul{
	text-decoration: none;
	height: 50px;
}
header nav ul li{
	float: left;	
	margin-top: 55px;
	background-color: #EBE7E7;
	border:solid 1px #D0CCCC;
	height: 30px;
	padding-top: 10px;
	padding-right: 10px;
}
header nav ul li a{
	text-decoration: none;
	margin-left:15px;
	font-size: 20px;
	padding: 5px;
   font-family: myFirstFont;
}
.left a:hover {
	/*Transition*/
    -webkit-transition:All .5s ease;
    -moz-transition:All .5s ease;
    -o-transition:All .5s ease;
    -webkit-transform:rotate(0deg) scale(1.2);
    -moz-transform: rotate(-10deg) scale(1.2);
    -o-transform: rotate(-10deg) scale(1.2);
    font-size: 20px;
}
nav ul li:hover{
	border-radius: 10px;
}   

h3{
	font-size: 18px;
	margin: 0;
	text-align: center;

}
#container{	
	margin-top: 10px;
	margin-bottom: 10px;
	width: 100%;
}
section{
	display: block;
}
section article:hover{
	background-color: #eee;
}
article{
	
	background-image:url(confectionary.png);
	display: block;
	margin: 10px;
	padding: 10px;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	-webkit-box-shadow:2px 2px 20px #888;
	-moz-box-shadow:2px 2px 20px #888;
}article header a img{
	border-radius: 100%;
}
.details{
	font-family: myFirstFont;
	font-size: 25px;
}

article a img{
	width: 300px;
	border:solid 2px #DCDCDC;
	margin-top: 20px;
	border-radius: 10px;
}
article a img:hover{
	
    -webkit-transform:rotate(-3deg) ;
    -moz-transform: rotate(-3deg);
    -o-transform: rotate(-3deg);
    -webkit-box-shadow:2px 2px 30px #888;
	-moz-box-shadow:2px 2px 20px #888;
}
article header{
	margin-top: 5px;

	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius: 10px;
	padding: 5px;
	float: left;
	width: 58%;
	
}
article aside{
	width: 40%;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	-webkit-box-shadow:2px 2px 20px #888;
	-moz-box-shadow:2px 2px 20px #888;
}
article footer{
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius: 10px;
	padding: 5px;
	
}
article p{
	margin-top: 37px;
	line-height: 2em;
	font-family: mySecondFont;
}
@font-face{
	font-family: mySecondFont;
    src: url(Exo2.0-Italic.otf);
    
}
article h1{
	font-family: myFirstFont;
	font-size: 32px;
}
aside h1{
	padding-top: 10px;
	margin-top: 30px;
	margin-left: 70px;
	
}
aside{
	display: block;
	background-image:url(confectionary.png);
	margin-left: 3%
	border-radius: 10px;
	float: left;
	margin-bottom: 20px;
}

aside a{
	margin-left:15px;

}
aside a img{
	margin-right: 1%;
	border-radius: 5%;
	padding: 0.5%;
	margin-top: 1;
	margin-bottom: 1%;
	width: 90%;

}

aside h3{
	font-size: 25px;
	margin: 15px;
	color: orange;
	background-color: white;
	border-radius: 10px;
}
aside p{
 	color: #146492;
	font-weight: bold;
	font-style: italic;
	margin-bottom: 0px;
	text-align: center;
}
article h2{

	font-size: 25px;
	text-align: right;
	padding-right: 90px;
}
article h2 a{
	color: #146492;

}
footer{

	background-image:url(confectionary.png);
	display: block;
	margin: 10px;
	padding: 10px;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	-webkit-box-shadow:2px 2px 20px #888;
	-moz-box-shadow:2px 2px 20px #888;
}
footer:hover{
	background-color: #eee;
}
footer h2{
	font-size: 14px;

}
footer nav{
	display: block;
	width: 400px;
	margin: auto;
}
footer nav ul{
	text-decoration: none;
	margin: 0;
	padding: 0;
	list-style: none;

}
footer nav ul li{
	float: left;
	width: 95px;
	display: block;
	text-align: center;

}
footer nav ul li a{
	text-decoration: none;
	font-size: 20px;
	font-family: myFirstFont;
	color:black;

}

@media screen and (max-width: 680px) {

	article header {
		width: 95%;
	}
	article aside {
		width: 95%;
		margin: auto;
	}

	aside a img{
		height: auto;
	}

	footer nav ul li{
		float: left;
		width: 23%;
		display: block;
		text-align: center;
	}
	
}