	body{
	background: url(background1.jpg);
	font-family:arial;
	margin: 0 auto;
	max-width: 900px;
	margin-top: 20px;
	margin-bottom: 20px;
}
.clear{clear: both;}
header{	
	display: block;
	text-align: center;
	height: 100px;
}
h2{
	font-size: 45px;
	margin: 0;
	text-align: center;
	font-family: myFirstFont;
	vertical-align: baseline;
}
@font-face{
	font-family: myFirstFont;
    src: url(Lobster_1.0_.otf);
    font-weight: bold;
}
.nameheading{
	float: left;
	margin-left: 30px;
}
.nameheading h5{
	margin-top: 0px;
}
header nav{
	display: block;
	height: 100px;
	margin-left: 440px;
}
header nav ul{
	text-decoration: none;
	height: 50px;
}
header nav ul li{
	float: left;	
	margin-top: 55px;
	background-color: #EBE7E7;
	border:solid 1px #D0CCCC;
	height: 30px;
	padding-top: 10px;
	padding-right: 10px;
}
header nav ul li a{
	text-decoration: none;
	margin-left:15px;
	font-size: 20px;
	padding: 5px;
   font-family: myFirstFont;
}
.left a:hover {
	/*Transition*/
    -webkit-transition:All .5s ease;
    -moz-transition:All .5s ease;
    -o-transition:All .5s ease;
    -webkit-transform:rotate(0deg) scale(1.2);
    -moz-transform: rotate(-10deg) scale(1.2);
    -o-transform: rotate(-10deg) scale(1.2);
    font-size: 20px;
}
nav ul li:hover{
	border-radius: 10px;
}   

h3{
	font-size: 18px;
	margin: 0;
	text-align: center;

}
#container{	
	margin-top: 10px;
	margin-bottom: 10px;
}
section{
	display: block;
	float: left;
	width: 900px;
}
section article:hover{
	background-color: white;
}
article{
	height: auto;
	background-color: #eee;
	display: block;
	margin: 10px;
	padding: 10px;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	-webkit-box-shadow:2px 2px 20px #888;
	-moz-box-shadow:2px 2px 20px #888;
}


.products-area{
	margin-top: 20px;
	border-top: dotted 1px #b1c7de;
	padding-top: 24px; 
	padding-left: 50px;
}
.products-area .product{
	padding-bottom: 26px;
	margin-bottom: 26px;
	border-bottom: dotted 1px #b1c7de;
	font-weight: bold;
	font-size: 18px;
	float: left;

}
.products-area .middle-product{
	padding-left: 90px;
}
.products-area .product .product-name{

	color: #146492;
	padding-bottom: 9px;
}
.products-area .product img {
	padding: 9px;
	background-color: #dfedf5;
	border: solid 1px #c5e2f3;
	width: 290px;
	height: 290px;
}

.products-area .product .product-details
{
	margin: 11px 0 25px 0; 
	color: #444545;
}
.products-area .product .product-details .product-price
{
	float: left;
}
.products-area .product .product-details .product-price span
{
	color: #4c9242;
}
.products-area .product .product-details .product-code
{
	float: right;
}
.products-area .product .product-details .product-code span
{
	color: #676767;
}


article p{
	padding-left: 90px;
}

article a img{
	width: 300px;
	border:solid 2px #DCDCDC;
	margin-top: 20px;
	border-radius: 10px;

}
article a img:hover{
	
    -webkit-transform:rotate(-2deg) ;
    -moz-transform: rotate(-2deg);
    -o-transform: rotate(-2deg);
    -webkit-box-shadow:2px 2px 30px #888;
	-moz-box-shadow:2px 2px 20px #888;
}
article header{
	margin-top: 5px;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius: 10px;
	padding: 5px;
	

}
article header h1{
	font-size: 36px;
	float: left;
	margin-left: 10px;

}
@font-face{
	font-family: mySecondFont;
    src: url(Exo2.0-Italic.otf);
    
}
article p{
	font-family: mySecondFont;
	padding-right: 10px;
	display: block;
	vertical-align: baseline;
	}
article p img{
	border-radius: 5%;
	float: left;
	margin-right: 10px;
}
article ul li{
	font-family: mySecondFont;
}


 
article footer{
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius: 10px;
	padding: 5px;
	
}
article p{
	margin-top: 37px;
	line-height: 2em;

}
article h1{
	font-family: myFirstFont;
	font-size: 22px;
}

aside h1{
	margin-top: 20px;
	margin-left: 90px;
}
aside{
	display: block;
	background-color: #eee;
	margin: 10px;
	border-radius: 10px;
	float: left;
}

aside a{
	margin-left:10px;
	

}
aside a img{
	margin-right: 20px;
	border-radius: 15px;
	padding: 5px;

}

aside h3{
	font-size: 25px;
	margin: 15px;
	color: orange;
	background-color: white;
	border-radius: 10px;
}
aside p{
	margin: 15px;
	color: white;
	font-weight: bold;
	font-style: italic;
}
#wrap{
	width: 100%;
	height: 50%;
	
	z-index: 99;
	background-color: #366b82;
}
.navbar{
	height: 50px;
	border-right: 1px solid #54879d; 

}
.navbar li{
	float: left;
	width: 150px;
	text-align: center;
	height: auto;
	color: white;
	background-color: #366b82;
	border-left: 1px solid #54879d;
	border-right: 1px solid #1f5065;
	padding: 18px 0;
}
.navbar li ul{
	display: none;
	height: auto;
	color:white;
}
.navbar li:hover{
	background-color: #54879d;
}
.navbar li:hover ul{
	display: block;
	height: auto;
	
}
footer{
	clear: both;
	
	display: block;
	background-color: #eee;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	-webkit-box-shadow:2px 2px 20px #888;
	-moz-box-shadow:2px 2px 20px #888;
	margin-left: 10px;
	text-align: center;
	padding: 15px;
	margin-bottom: 20px;
}
footer:hover{
	background-color: white;
}
footer h2{
	font-size: 14px;
	float: left;
	width: 300px;
}
footer nav{
	display: block;
	margin-left: 280px;
}
footer nav ul{
	text-decoration: none;
	padding-bottom: 0px;
	padding-top: 5px;
}
footer nav ul li{float: left;}
footer nav ul li a{
	text-decoration: none;
	font-size: 20px;
	font-family: myFirstFont;
	margin-left: 60px;
}